.header {
  overflow: hidden;
    height: 100px;
    background-color: rgb(246,246,246);
    position: relative;
    z-index: 3;
    &__content {
        width: 1146px;
        margin: 0 auto;
        padding: 0;
        position: relative; 
        &::after {
            content: "";
            background-color:#FBCA33;
            width: 718px;
            height: 100px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -3;
            animation: animation-dog 1s ease 1;
        } 
    }
    &__nav {
       &__box {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        padding-top: 54px;
        width:100%;
        display: grid;
        grid-template-columns: 118fr 368fr 77fr 332fr 90fr 160fr;
        align-items: center;
       } 
       &__item {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #242424;
        text-decoration: none;
       }
    }
}



