.our-wards {
    height: 974px;
    background-color:  rgb(246,246,246);
    overflow: hidden;
    position: relative;
    &__title {
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        font-weight: 300;
        line-height: 24px;
    }
    &__see-all {
        margin: 0 auto;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        color: #AD7F00;
        cursor: pointer;
        &__arrow {
            position: relative;
            bottom: -2px;
            left: 5px;
        }
    }
    &__animals-card__box {
        margin: 0 auto;
        max-width: 1146px;
        display: flex; 
        justify-content:space-around;
        position: relative;
        &--wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }
    &__animals-card {
        width: 368px;
        height: 555px;
        background: #F6F6F6;
        box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
        border-radius: 5px;
        position: relative;
        animation: animals-card 1s linear 1;
        &__arrow-box {
            width: 285px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 1;
            top: 175px;
        }
        &__arrow-background {
            width: 38px;
            height: 38px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 100%; 
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.7);
            }
            &:active {
                background: rgba(95, 95, 95, 0.7);
            }
        }
        &__left-arrow {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 1.625C9.98316 1.625 7.08989 2.82343 4.95666 4.95666C2.82344 7.08989 1.625 9.98316 1.625 13C1.625 16.0168 2.82344 18.9101 4.95666 21.0433C7.08989 23.1766 9.98316 24.375 13 24.375C16.0168 24.375 18.9101 23.1766 21.0433 21.0433C23.1766 18.9101 24.375 16.0168 24.375 13C24.375 9.98316 23.1766 7.08989 21.0433 4.95666C18.9101 2.82343 16.0168 1.625 13 1.625ZM13 -1.1365e-06C9.55219 -1.43791e-06 6.24559 1.36964 3.80761 3.80761C1.36964 6.24558 1.43791e-06 9.55218 1.1365e-06 13C8.35079e-07 16.4478 1.36964 19.7544 3.80761 22.1924C6.24558 24.6304 9.55219 26 13 26C16.4478 26 19.7544 24.6304 22.1924 22.1924C24.6304 19.7544 26 16.4478 26 13C26 9.55219 24.6304 6.24558 22.1924 3.80761C19.7544 1.36964 16.4478 -8.35079e-07 13 -1.1365e-06Z' fill='%23242424'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5758 7.5497C13.6514 7.62517 13.7114 7.71484 13.7524 7.81355C13.7934 7.91226 13.8145 8.01808 13.8145 8.12495C13.8145 8.23182 13.7934 8.33764 13.7524 8.43635C13.7114 8.53507 13.6514 8.62473 13.5758 8.7002L9.27438 13L13.5758 17.2997C13.6513 17.3752 13.7112 17.4649 13.7521 17.5636C13.793 17.6623 13.814 17.7681 13.814 17.8749C13.814 17.9818 13.793 18.0876 13.7521 18.1863C13.7112 18.285 13.6513 18.3747 13.5758 18.4502C13.5002 18.5257 13.4105 18.5857 13.3118 18.6266C13.2131 18.6674 13.1073 18.6885 13.0005 18.6885C12.8937 18.6885 12.7879 18.6674 12.6892 18.6266C12.5905 18.5857 12.5008 18.5257 12.4253 18.4502L7.55025 13.5752C7.47459 13.4997 7.41455 13.4101 7.37359 13.3114C7.33263 13.2126 7.31155 13.1068 7.31155 12.9999C7.31155 12.8931 7.33263 12.7873 7.37359 12.6885C7.41455 12.5898 7.47459 12.5002 7.55025 12.4247L12.4253 7.5497C12.5007 7.47404 12.5904 7.414 12.6891 7.37304C12.7878 7.33208 12.8936 7.311 13.0005 7.311C13.1074 7.311 13.2132 7.33208 13.3119 7.37304C13.4106 7.414 13.5003 7.47404 13.5758 7.5497Z' fill='%23242424'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6875 13C18.6875 13.2155 18.6019 13.4222 18.4495 13.5745C18.2972 13.7269 18.0905 13.8125 17.875 13.8125L9.75 13.8125C9.53451 13.8125 9.32785 13.7269 9.17548 13.5745C9.0231 13.4221 8.9375 13.2155 8.9375 13C8.9375 12.7845 9.0231 12.5778 9.17548 12.4255C9.32785 12.2731 9.53451 12.1875 9.75 12.1875L17.875 12.1875C18.0905 12.1875 18.2972 12.2731 18.4495 12.4255C18.6019 12.5778 18.6875 12.7845 18.6875 13Z' fill='%23242424'/%3E%3C/svg%3E%0A");
            width: 26px;
            height: 26px;
        }
        &__right-arrow {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 24.375C16.0168 24.375 18.9101 23.1766 21.0433 21.0433C23.1766 18.9101 24.375 16.0168 24.375 13C24.375 9.98316 23.1766 7.08989 21.0433 4.95666C18.9101 2.82343 16.0168 1.625 13 1.625C9.98316 1.625 7.08989 2.82343 4.95666 4.95666C2.82343 7.08989 1.625 9.98316 1.625 13C1.625 16.0168 2.82343 18.9101 4.95666 21.0433C7.08989 23.1766 9.98316 24.375 13 24.375ZM13 26C16.4478 26 19.7544 24.6304 22.1924 22.1924C24.6304 19.7544 26 16.4478 26 13C26 9.55219 24.6304 6.24558 22.1924 3.80761C19.7544 1.36964 16.4478 0 13 0C9.55219 0 6.24558 1.36964 3.80761 3.80761C1.36964 6.24558 0 9.55219 0 13C0 16.4478 1.36964 19.7544 3.80761 22.1924C6.24558 24.6304 9.55219 26 13 26Z' fill='%23242424'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4242 18.4503C12.3486 18.3748 12.2886 18.2852 12.2476 18.1865C12.2066 18.0877 12.1855 17.9819 12.1855 17.875C12.1855 17.7682 12.2066 17.6624 12.2476 17.5636C12.2886 17.4649 12.3486 17.3753 12.4242 17.2998L16.7256 13L12.4242 8.7003C12.3487 8.62476 12.2888 8.53507 12.2479 8.43637C12.207 8.33767 12.186 8.23188 12.186 8.12505C12.186 8.01822 12.207 7.91243 12.2479 7.81373C12.2888 7.71503 12.3487 7.62534 12.4242 7.5498C12.4998 7.47426 12.5895 7.41433 12.6882 7.37345C12.7869 7.33257 12.8927 7.31152 12.9995 7.31152C13.1063 7.31152 13.2121 7.33257 13.3108 7.37345C13.4095 7.41433 13.4992 7.47426 13.5747 7.5498L18.4497 12.4248C18.5254 12.5003 18.5854 12.5899 18.6264 12.6886C18.6674 12.7874 18.6885 12.8932 18.6885 13C18.6885 13.1069 18.6674 13.2127 18.6264 13.3115C18.5854 13.4102 18.5254 13.4998 18.4497 13.5753L13.5747 18.4503C13.4993 18.526 13.4096 18.586 13.3109 18.627C13.2122 18.6679 13.1064 18.689 12.9995 18.689C12.8926 18.689 12.7868 18.6679 12.6881 18.627C12.5894 18.586 12.4997 18.526 12.4242 18.4503Z' fill='%23242424'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.3125 13C7.3125 12.7845 7.3981 12.5778 7.55048 12.4255C7.70285 12.2731 7.90951 12.1875 8.125 12.1875H16.25C16.4655 12.1875 16.6722 12.2731 16.8245 12.4255C16.9769 12.5778 17.0625 12.7845 17.0625 13C17.0625 13.2155 16.9769 13.4222 16.8245 13.5745C16.6722 13.7269 16.4655 13.8125 16.25 13.8125H8.125C7.90951 13.8125 7.70285 13.7269 7.55048 13.5745C7.3981 13.4222 7.3125 13.2155 7.3125 13Z' fill='%23242424'/%3E%3C/svg%3E%0A");
            width: 26px;
            height: 26px;
        }
        &__white-dots-box {
            width: 76px;
            z-index: 1;
            position: absolute; 
            top: 180px;
            left: 110px;
            display: flex;
            justify-content: space-between; 
        }
        &__white-dots {
            width: 8px;
            height: 8px;
            background: white;
            border-radius: 100%;;
        }
        &__foto-box {
            width: 335px;
            height:356px;
        }
        &__Blaky-foto {
            background-image: url(../images/design/card/Blacky__1920-768.jpg);
        }
        &__Monik-foto {
            background-image: url(../images/design/card/Monik__1920-768.jpg);
        }
        &__Samanta-foto {
            background-image: url(../images/design/card/Samanta__1920-768.jpg);
        }
        &__opacity {
            opacity: 0.5;
        }
        &__content {
            width: 335px;
            margin: 16px auto;
            & h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 20px;
                text-align: center;
                margin: 8px 0px 10px;
            }
            & a {
                position: absolute;
                left: 17px;
                top: 508px;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
                color: #AD7F00;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        &__gender-and-age {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px; 
            color: #6B6B6B;
            padding: 8px 0px 0px;
            margin: 0px;
            opacity: 0.5;
            border-top: 1px solid #D6D6D6;
        }
        &__discription {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #242424;
            padding: 0px;
            margin-top: 6px;
        }
        &__button-box {
            margin:  0 auto;
            width: 296px;
            position: relative;
            top: 20px;
            
        }
        &__button-take-at-home--button-gold {
            width: 199px;   
            text-align: center;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 32px;
            font-weight: 500;
            cursor: pointer;
            padding: 1px;
            background-clip: content-box, border-box;
            border-radius: 58px;
            color: #242424;
            text-decoration: none;
         
        }
        &__button-take-at-home--button-background-gold {
            width: 209px;
            height: 42px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            border-radius: 58px;
            cursor: pointer;
            background-clip: content-box, border-box;  
        }
        &__button-take-at-some-period--button-silver {
            width: 286px;
            text-align: center;
            font-size: 20px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 32px;
            font-weight: 500;
            cursor: pointer;
            padding: 1px;
            background-clip: content-box, border-box;
            border-radius: 58px;
            color: #242424;
            background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
            box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
        }
        &__button-take-at-some-period--button-background-silver {
            width: 296px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            border-radius: 58px;
            cursor: pointer;
            background-clip: content-box, border-box;
            position: relative;
            top: 22px;
            background: #F6F6F6;
            box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
            &:hover {
                background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
                border-radius: 58px;
            }
            &:active{
                background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
                box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
                border-radius: 58px;
            }
        }
    }
    &__social {
        &__content {
            margin: 0 auto;
            width: 779px;
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 77px;
        }
        &__icon-box {
            width: 158px;
            display: flex;
            justify-content: space-between;
        }
        &__discription {
            width: 583px;
            font-size: 18px;
            display: inline-block;
            vertical-align :middle;
        }
    }
}

