<!DOCTYPE html>
<html>
<head>
    <title>Все питомцы</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
</head>
<body class="cards-page__body">
    <header class="cards-page__header">
        <div class="cards-page__header__content">
            <a class="cards-page__header__come-back-link" href="index.html#our-wards" >
                <div class="cards-page__header__come-back-icon-background">
                    <div class="cards-page__header__come-back-icon"></div>
                </div> 
                <p class="cards-page__header__come-back-text">Вернуться назад</p> 
            </a>
            <h5 class="cards-page__header__title">Наши подопечные</h5>
            <div class="cards-page__header__select-box">
                <label for="select-cat-and-dog" class="cards-page__header__select-label">Показать</label>
                <select name="select-cat-and-dog" class="cards-page__header__select">
                    <option>Коты и собаки</option>
                    <option>Коты</option>
                    <option>Собаки</option>
                </select>
            </div>
        </div>
    </header>
    <main>
        <section class="cards-page__box">
            <div class="our-wards__animals-card our-wards__animals-card__Monik cards-page__animals-card__Monik cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Monik-foto our-wards__animals-card__foto-box"></div>
                    <h5>Моник</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">К поводку приучен. Не агрессивный. В еде не привередничает. С другими животными не конфликтует. Привит.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Lunatik cards-page__animals-card__Lunatik cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Lunatik-foto our-wards__animals-card__foto-box"></div>
                    <h5>Лунатик</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Малыш хочет домой и часто плачет.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Gerda cards-page__animals-card__Gerda cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Gerda-foto our-wards__animals-card__foto-box"></div>
                    <h5>Герда</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Веселый и очень игривый, ему так нужны ваша любовь и ласка.У него потрясающая густая шерсть в полосочку.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Saki cards-page__animals-card__Saki cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Saki-foto our-wards__animals-card__foto-box"></div>
                    <h5>Саки</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Серьезный кот в серьезные руки. Будет преданным только одному хозяину.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Texi cards-page__animals-card__Texi cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Texi-foto our-wards__animals-card__foto-box"></div>
                    <h5>Текси</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">К поводку приучен. Не агрессивный. В еде не привередничает. С другими животными не конфликтует. Привит.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Andreantino cards-page__animals-card__Andreantino cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Adreantino-foto our-wards__animals-card__foto-box"></div>
                    <h5>Адреантино</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Супер дружелюбный пес. Спешите, таких больше не найдете.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Pupsik cards-page__animals-card__Pupsik cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Pupsik-foto our-wards__animals-card__foto-box"></div>
                    <h5>Пупсик</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Милый песик. Очень игривый. Черная шубка светится на солнце и переливается синим.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Mishka cards-page__animals-card__Mishka cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Mishka-foto our-wards__animals-card__foto-box"></div>
                    <h5>Мишка</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Малыш хочет домой и часто плачет.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Barsik cards-page__animals-card__Barsik cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Barsik-foto our-wards__animals-card__foto-box"></div>
                    <h5>Барсик</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Мудрый кот. Аккуратный и нежный. Не царапает вещи и мебель. Кушает все!</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Milaha cards-page__animals-card__Milaha cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Milaha-foto our-wards__animals-card__foto-box"></div>
                    <h5>Милаха</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Девочка, 2 года</p>
                    <p class="our-wards__animals-card__discription">Девочка-красотка будет надежным защитником и другом хорошему человеку.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            <div class="our-wards__animals-card our-wards__animals-card__Gray cards-page__animals-card__Gray cards-page__animals-card">
                <div class="cards-page__animals-card__content">
                    <div class="our-wards__animals-card__Gray-foto our-wards__animals-card__foto-box"></div>
                    <h5>Грэй</h5>                       
                    <p class="our-wards__animals-card__gender-and-age">Мальчик, 7 месяцев</p>
                    <p class="our-wards__animals-card__discription">Мальчиш-крепыш. Здоров, привит и кастрирован.</p>
                    <a class="cards-page__animals-card__more-details">Подробнее</a>                              
                </div>
                <div class="cards-page__animals-card__button-box">                    
                    <div class="animals-card__button-take-at-home__button-background-gold button-gold-background">
                        <a href="" class="animals-card__button-take-at-home__button-gold button-gold">Забрать домой</a>
                    </div>
                    <div class="animals-card__button-take-at-some-period__button-background-silver">
                        <a class="animals-card__button-take-at-some-period__button-silver">Забрать на передержку</a>
                    </div>
                </div> 
            </div>
            </div>
        </section>
    </main>
    <footer class="footer__navigation card-page__footer-navigation">
        <div class="footer__navigation__content">
            <div class="footer__navigation__content__box-for-four-link">
                <a>Дом или передержка</a>
                <a>Финансовая передержка</a>
                <a>Корма, лекарства и другие вещи</a>
                <a>Автопомощь</a>
                <a>Волонтерство</a>
            </div>
            <div class="footer_navigation__content__box-for-two-link">
                <a>О нас</a>
                <a>Контакты</a>
            </div>
        </div>
        <p class="footer__copyrigh cards-page__copyrigh">© 2020 БООЗЖ "СПАСИ ЖИЗНЬ"</p>
    </footer>
</body>
</html>